* {
    color: black;
}

/* body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRa2_5gIxkYCPRBkAtfx477aAtHV97-hr9o1FiwG6BZXyFAfkizt_kYCqj4qskmDfofbsI&usqp=CAU");
    background-repeat: no-repeat;
    background-size: contain;
} */

.abc{
    text-align: center;
    color: rgba(54, 189, 175, 0.511);
    font-size: 70px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 50px;
    gap: 100px;
    

}

.grid-item {
    background-color: rgb(67, 123, 171);
    border: 4px solid rgb(28, 90, 161);
    padding: 20px;
    text-align: center;
}

.flex-container {
    display: flex;
    background-color: aqua;
    justify-content: space-around;
    font-family: sans-serif;
    font-size: medium;

}

.flex-item {
    background-color: aquamarine;
    border: 2px solid greenyellow;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}